<!DOCTYPE html>
<html lang="ua" data-theme="dark">
    <head>
    <meta charset="UTF-8" >
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.classless.min.css">
    <title>Financial assistant</title>
    </head>
    <body>
        <main class="container">
            <h1 style="margin-bottom: 0px" align=center class="title">Звіт</h1>
            <hr style="color:white; height: 4px; padding: 10px;">
            <p style="margin-bottom: 0px; font-size: 20px; width: 100%" align=center> {{message}}</p>
            <a style="margin-top: 20px; width:100%" href="/countfin/" role="button"> <-- Повернутись на головну </a>
            <a style="margin-top: 10px; width:100%" href="/countfin/report/" role="button">  Перейти до звіту </a>

        </main>
    </body>
</html>