<!DOCTYPE html>
<html lang="en" data-theme="dark">
    <head>
    <meta charset="UTF-8" >
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.classless.min.css">
    <title>Presonal-helper</title>
    </head>
    <body>
        <main class="container">
            <h1 style="margin-bottom: 20px" align=center class="title">Excepition</h1>
            <hr style="color:white; height: 4px; width: 500px; padding: 10px;">
            <div style="font-size:30px" align=center class="message" >
                <spine style = "border: 1px solid #ff8080; padding: 5px">{{message}}</spine>
            <div>
            <a style="width:100%; margin-top:40px" href="/add-contact/" role="button"> <-- Add contact </a>
        </main>
    </body>
</html>